# DATA STRUCTURES

## 1.List and its default functions

### append function:

In [3]:
a = ["bee", "moth"]
print(a)
a.append("ant")
print(a)

['bee', 'moth']
['bee', 'moth', 'ant']

### insert function:

In [4]:
a = ["bee", "moth"]
print(a)
a.insert(0, "ant")
print(a)
a.insert(2, "fly")
print(a)

['bee', 'moth']
['ant', 'bee', 'moth']
['ant', 'bee', 'fly', 'moth']

### remove function:

In [5]:
a = ["bee", "moth", "ant"]
print(a)
a.remove("moth")
print(a)

['bee', 'moth', 'ant']
['bee', 'ant']

### pop function:

In [6]:
a = ["bee", "moth", "ant"]
print(a)
a.pop()
print(a)

['bee', 'moth', 'ant']
['bee', 'moth']

### count function:

In [8]:
a = ["bee", "ant", "moth", "ant"]
print(a.count("bee"))
print(a.count("ant"))
print(a.count(""))

1
2
0

# DICTIONARY & ITS DEFAULT FUNCTIONS

### copy function:

In [10]:
 dit={"name":"vasudha","age":"18","number":"908907"}
 dit.copy()

{'name': 'vasudha', 'age': '18', 'number': '908907'}

### pop function:

In [14]:
 dit={"name":"vasudha","age":"18","number":"908907"}
 dit.pop("name")

'vasudha'

### clear function

In [18]:
dit={"name":"vasudha","age":"18","number":"908907"}
dit.clear()

### get function

In [20]:
dit={"name":"vasudha","age":"18","number":"908907"}
dit.get("age")

'18'

### type function

In [26]:
dit={"name":"vasudha","age":"18","number":"908907"}
type("dit")

str

# SETS AND ITS DEFAULT FUNCTIONS

### Add function

In [27]:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'cherry', 'banana', 'orange', 'apple'}

### clear function:

In [28]:
fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

### copy function:

In [29]:
fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'cherry', 'banana', 'apple'}

### pop function:

In [30]:
fruits = {"apple", "banana", "cherry"}
fruits.pop()
print(fruits)

{'banana', 'apple'}

### remove function:

In [31]:
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'cherry', 'apple'}

# TUPLE AND ITS DEFAULT FUNCTIONS

### Count function:

In [32]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.count(5)
print(x)

2

### Index function:

In [33]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.index(8)
print(x)

3

### length function:

In [37]:
len(thistuple)

10

### maximum function:

In [38]:
max(thistuple)

8

### minimum function:

In [39]:
min(thistuple)

1

# STRING AND ITS DEFAULT METHODS

### Maximum method:

In [40]:
str = "this is a string example....really!!!"
print ("Max character: " + max(str))

Max character: y

### join method:

In [41]:
s = "-"
seq = ("a", "b", "c") # This is sequence of strings.
print (s.join( seq ))

a-b-c

### isupper method:

In [42]:
str = "THIS is string example....wow!!!"
print (str.isupper())

False

### endswith method:

In [44]:
Str = 'this is string example....wow!!!'
suffix = '!!'
print (Str.endswith(suffix))
print (Str.endswith(suffix,20))
suffix = 'exam'
print (Str.endswith(suffix))
print (Str.endswith(suffix, 0, 19))

True
True
False
True

### count method:

In [45]:
str = "this is string example....wow!!!"
sub = 'i'
print ("str.count('i') : ", str.count(sub))
sub = 'exam'
print ("str.count('exam', 10, 40) : ", str.count(sub,10,40))

str.count('i') :  3
str.count('exam', 10, 40) :  1